<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>❤Catenv-y❤</title>
  <link rel="stylesheet" href="stylesheets/mot.css">
</head>
<body>
  <div class="content">
    <h2>❤Catenv-y❤</h2>

    <img src="http://edgecats.net/" height="140"/>
    <strong>&rarr;</strong>
    <img src="{{gravatar_url}}" height="140" />

    <p>By visiting this page, <strong>you sent a catgif to {{email}}!</strong></p>
    <p>Meow.</p>
  </div>
</body>
</html>
